/*Load Fonts*/
@font-face {
    font-family: head;
    src: url('head.ttf');
}

@font-face {
    font-family: min;
    src: url('min.otf');
}

/*Styling for Headings*/
h1{
    text-align: right;
    font-family: head;
    font-size: 100px;
    line-height: 100px;
    padding-right: 10px;
}

/*Styling for NavBar*/
li {
    display: inline;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: min;
    text-align: right;
    position: absolute;
    top:100px; right:24px;
    
    
    
}

/*Styling for Links*/
a {
    text-decoration: none;
}
a:hover {
    color: darkorange;
}
a:visited {
    text-decoration: none;
    color: blue;
}
a:visited:hover {
    text-decoration: none;
    color: darkorange;
}
#up{
    font-family: min;
    font-size: 32px;
    margin:auto;
    width:100%;
    padding:10px;
    text-align: center;
}

/*Styling for Paragraph Text*/
#text{
    padding-left: 12.5%;
    padding-right: 12.5%;
    font-size: 18px;
    font-family: monospace;
}

/*.secret{
    color: aquamarine
}*/
