@font-face {
    font-family: maintext;
    src: url('MainText.otf')
}
@font-face {
    font-family: title;
    src: url('title.ttf')
}

@font-face {
    font-family: fortune;
    src: url('fortune.ttf');
}

@font-face {
    font-family: instruct;
    src: url('instruct.ttf');
}

body{
    background-image: url(back2.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

#maintitle{
    color: gold;
    background-color: black;
    text-align: center;
    position: fixed;
    width: 100%;
    top:0%;
    
    color: white;
    font-family: title;
    font-size: 32px;
    line-height: 32px;
    vertical-align: center;
}

#title{
    font-family: maintext;
    font-size: 54px;
    color: gold;
}

#fake{
    position: fixed;
    width: 80%;
    height: 100px;
    top:47.5%;
    background-color: white;
    line-height: 10px;
    right: 15%;
    vertical-align: middle;
}
#fortune{
    color:black;
    text-align: left;
    position: fixed;
    width: 65%;
    height: 100px;
    top:47.5%;
    background-color: white;
    font-family: fortune;
    font-size: 30px;
    word-wrap: break-word;
    line-height: 01;
    right: 25%;
    vertical-align: middle;
    display: table;
  text-align: center;
}

h4{
  display: table-cell;
  vertical-align: middle;
}
#instruct{
    color:white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom:0%;
    font-size: 17px;
    font-family: instruct;
    background-color: black;
}

#cookie{
    height: 15%;
    position: fixed;
    top:40%;
    right:10%;
    z-index: 100;
}