@font-face { 
                font-family: title;
                src: url('title.ttf');
            }
            @font-face { 
                font-family: about;
                src: url('about.ttf');
            }
            body{
                margin:0;
                padding:0;
            }
            .back {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                 z-index: 1;

                display: block;
                width: 100%;
                height: 100%;
                background-image: url(back/back.jpg);
                background-size:cover;
                
                -webkit-filter: blur(3px);
                -moz-filter: blur(3px);
                -ms-filter: blur(3px);
                filter: blur(3px);
            }       
            .tint{
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 2;
                background-color:black;
                opacity: 0.15;
            }
            .main {
              position: fixed;
              left: 0;
              right: 0;
                height:100%;
              z-index: 9999;
              color: black;
            }
            .sidebarBack{
                background-color: #fff;
                width: 290px;
                left:0;
                top:0;
                height: 100%;
                position: absolute;
                padding-left:10px;
                    opacity:0.5;
            }
            .sidebar{

                width: 290px;
                left:0;
                top:0;
                height: 100%;
                position: absolute;
                padding-left:10px;

            }
            .content{
                margin-left:300px;
                text-align: center;
                
                width: 800px;
                height: 200px;
                position: absolute;
                margin-top: -100px;
                margin-left:-250px;
                top:50%;
                left:50%;
            }
            .contentBack{
                margin-left:300px;
                text-align: center;
                
                width: 800px;
                height: 200px;
                position: absolute;
                margin-top: -100px;
                margin-left:-250px;
                top:50%;
                left:50%;
                background-color:white;
                opacity:0.5;
            }
            #title {
                font-family: title;
                line-height:72px;
                letter-spacing: 4px;
                font-size: 72;
                padding-bottom:50px;
                color: yellow;
                text-shadow:
                    -3px -3px 0 #2562c4,
                    3px -6px 0 #2562c4,
                    -3px 3px 0 #2562c4,
                    3px 3px 0 #2562c4; 
            }
            .about{
                font-family:about;
                padding-right:5px;
            }
            
            .content p {
                text-align: center;
                font-family:about;
            }

            #social{
                position: fixed;
                left: 0;
                bottom: 20;
                margin-left:-10;
                //background-color:white;
                width:300px; 
                text-align:center;
            }
            .share{
                width:44px;
                height:44px;
                -webkit-filter: invert(1);
                filter: invert(1);
            }